.loader {
  aspect-ratio: 1;
  background: #ff9f0d;
  border-radius: 50%;
  animation: l1 3s infinite linear;
}
@keyframes l1 {
  12.5% {
    border-radius: 37% 63% 70% 30% / 30% 62% 38% 70%;
  }
  25% {
    border-radius: 50% 50% 70% 30% / 52% 62% 38% 48%;
  }
  37.5% {
    border-radius: 33% 67% 18% 82% / 52% 75% 25% 48%;
  }
  50% {
    border-radius: 73% 27% 18% 82% / 52% 32% 68% 48%;
  }
  62.5% {
    border-radius: 73% 27% 74% 26% / 64% 32% 68% 36%;
  }
  75% {
    border-radius: 84% 16% 15% 85% / 55% 79% 21% 45%;
  }
  87.5% {
    border-radius: 12% 88% 69% 31% / 10% 66% 34% 90%;
  }
}

.food-card-fallback {
  position: relative;
  width: 3.125rem;
  aspect-ratio: 1;
  background: #ff9f0d;
  transform: rotateX(65deg) rotate(45deg);
  // remove bellows command for perspective change
  //transform: perspective(200px) rotateX(65deg) rotate(45deg);
  color: #fff;
  animation: layers1 1s linear infinite alternate;
  //margin: 23.818rem 0; -- 23.818rem 12.763rem
}
.food-card-fallback:after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  animation: layerTr 1s linear infinite alternate;
}

@keyframes layers1 {
  0% {
    box-shadow: 0px 0px 0 0px;
  }
  90%,
  100% {
    box-shadow: 1.25rem 1.25rem 0 -0.25px;
  }
}
@keyframes layerTr {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(-1.563rem, -1.563rem) scale(1);
  }
}
